@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import 'tailwindcss';
@plugin 'lightswind/plugin';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* 'Url' hobe 'url' 

/* Tailwind v4 e theme font set korar niyom */
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  background-color: black;
}
